
body{

    font-family: 'Helvetica Neue', Arial, sans-serif;
    
}

.navbar {
  display: flex;
  flex: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 3rem;
  background: transparent;
  position: absolute;
  width: 80%;
  top: 10px;
  left: 0;
  z-index: 10;
  
}

.navbar img { /*setting the image si*/
  height: px;
  width: px;
}

.navbar-menu{ /* for setting the allignment of links on the navigation*/
    display: flex;
    list-style: none;
    gap: 2rem;
}

.navbar-menu li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 0.95rem;
  letter-spacing: 1px;
  transition: color 0.3s ease;
  gap: 5rem;
}

.navbar-menu li a:hover{
    color: #FF6565;
    opacity: 0.9;
}
.hero {
    display: flex;
  background: linear-gradient(rgba(6, 13, 19, 0.5), rgba(36, 51, 83, 0.6)),
              url('./images/headphones_hero_1.jpg') no-repeat center center/cover;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding-top: 8rem;
  padding-bottom: 5rem;
  color: white;
  /*align-content: absolute;*/
  
}

.action-button {
  background-color: #FF6565;
  color: white;
  border: none;
  padding: 0.8rem 2rem;
  border-radius: 30px;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 4px 14px rgba(0,0,0,0.3);
  transition: background 0.3s ease;
}

.action-button:hover{
    background-color:  #d81111;
}
.what-we-do{ /*This is whre the what we do section styles begin*/
    background-color: white;
    color: black;
    padding: 5px;

}
.what-head{
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.what-paragraph div {
    text-align: center;
    flex-direction: center;
    justify-content: center;
    padding-left: 50%;
}
.what-avatar{
    flex-direction: row;
    justify-content: center;
}

/*Our result section*/
.our-results {
    display: flex;
  background: linear-gradient(rgba(6, 13, 19, 0.5), rgba(36, 51, 83, 0.6)),
              url('./images/headphones_hero_2.jpg') no-repeat center center/cover;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 5rem;
  align-content: absolute;
  color: white;
}

.contact{
    background-color: white;
    color: #000000;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 50%;
}